<div class="card mb-3">
    <img src="/images/404ErrorPage.jpeg" class="card-img-top" alt="...">
    <div class="card-body  text-center"><a href="/">
            <h5 class="card-title btn btn-primary text-warning fs-3">Go To Home Page</h5>
        </a>
    </div>
</div>