<div class="homeBg">
    <div class="row">
        <div class="row contentContainer">
            <div class="col-sm-7 mb-3 mb-sm-0 ">
                <div class="card bg-transparent border-0">
                    <div class="card-body px-2">
                        <h1 class="card-title">A comprehensive platform for reliable</h1>
                        <h2 class="card-title text-white">job opportunities and internships.</h2>
                        <p class="card-text text-white">Get Discovered. Get Hired.</p>
                        <a href="/jobs" class="btn btn-primary homeBtn">I'm A Job Seeker</a>
                        <a href="/login" class="btn btn-primary homeBtn">I'm A Recruiter</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card cardBox bg-transparent border-0">
                    <img src="/images/banner.png" class="card-img-top image-fluid" alt="...">
                    <!-- <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>